{% extends 'base.html' %}

{% block content %}

<h1>Memebers</h1>

<nav>
    <ul>
        <li><a class = 'button' href=""><i class="fas fa-users"></i>View All Members</a></li>
        <li><a class = 'button' href=""><i class="fas fa-user-plus"></i>Add a Member</a></li>
        <li><a class = 'button' href=""><i class="fas fa-user"></i>Edit a Member</a></li>
        <li><a class = 'button' href=""><i class="fas fa-user-minus"></i>Delete a Member</a></li>
    </ul>
</nav>



{% endblock content %}