{% extends 'base.html' %}

{% block content %}

<h1><i class="fas fa-users page_title"></i>Members</h1>

<section>
    <hr>
    <table class = 'results'>
        <tr>
            <th>See More</th>
            <th>Membership Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Member Type</th>
            <th>Member Status</th>
        </tr>
        {% for member in members %}
        <tr>
            <td><a href="/members/{{ member.id }}"><i class="fas fa-angle-double-right red"></i></a></td><td>{{member.id}}</td><td>{{member.first_name}}</td><td>{{member.last_name}}</td><td>{{member.member_type}}</td><td>{{member.member_status}}</td>
        </tr>
        {% endfor %}
        
    </table>
    <hr>
</section>

    <nav>
        <ul>
            <li><a class = 'button' href="/members/add"><i class="fas fa-user-plus"></i>Add a Member</a></li>
        </ul>
    </nav>

{% endblock content %}