{% extends 'base.html' %}

{% block content %}
<h1>{{member.first_name}} {{member.last_name}}</h1>

<section>
    <hr>
    <table class = 'results'>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Member Type</th>
            <th>Member Status</th>
        </tr>
    <hr>
</section>

    <nav>
        <ul>
            <li><a class = 'button' href=""><i class="fas fa-users"></i>View All Members</a></li>
            <li><a class = 'button' href=""><i class="fas fa-user-plus"></i>Add a Member</a></li>
            <li><a class = 'button' href=""><i class="fas fa-user"></i>Edit a Member</a></li>
            <li><a class = 'button' href=""><i class="fas fa-user-minus"></i>Delete a Member</a></li>
        </ul>
    </nav>

{% endblock content %}