{% extends 'base.html' %}

{% block content %}
<a class='basic_link' href="/members"><i class="fas fa-angle-double-right fa-rotate-180"></i><span
        class='basic_link_text'>Back</span></i></a>
<h1>{{member.first_name}} {{member.last_name}}</h1>

<hr>
<table class='results'>
    <tr>
        <th>Membership Number:</th>
        <td>{{member.id}}</td>
    </tr>
    <tr>
        <th>Member Type:</th>
        <td>{{member.member_type}}</td>
    <tr>
    </tr>
    <tr>
        <th>Member Status:</th>
        <td>{{member.member_status}}</td>
    </tr>
</table>
<hr>

<nav>
    <ul>
        <li><a class="button" href="/members/{{member.id}}/history"><i class="fas fa-history"></i>Session History</a>
        </li>
        <!-- <li><a class = 'button' href='/bookings/{{member.id}}/add_session'><i class="far fa-calendar-plus"></i>Book a Session</a></li> -->
        <li><a class='button' href="/members/{{member.id}}/edit"><i class="fas fa-user-edit"></i>Edit Member</a></li>
        <li><a class='button' href="/members/{{member.id}}/delete"><i class="fas fa-user-minus"></i>Delete Member</a>
        </li>
    </ul>
</nav>

{% endblock content %}