<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/b9cf35b5bd.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Oswald&display=swap" rel="stylesheet">
    <title>Gym Clan :: {{ title }}</title>
</head>
<body>
    <header>
        <div id='logo'><i class="fas fa-dumbbell logo_icon"></i><span class='gc_logo'>GYM CLAN</span><span class='gc_sublogo'>Fitness Studio</span></div>
        <nav>
            <ul>
                <li><a href=""><i class="fas fa-users"></i>Members</a></li>
                <li><a href=""><i class="far fa-calendar-alt"></i>Sessions</a></li>
                <li><a href=""><i class="fas fa-question"></i>Help</a></li>
            </ul>
        </nav> 
    </header>
    <!-- Insert content here -->
    <main>
        <h1>Page Heading</h1>
        <p>Test</p>
        <a href="index.html" class='button'>Button</a>
    </main>
    <footer>
        <p>Gym Clan &#169; 2021</p>
    </footer>
    
</body>
</html>