{% extends 'base.html' %}

{% block content %}
<h1>Using the Gym Clan Gym Management System</h1>

<h2>Viewing All Members</h2>
<ol>
    <li>Access the Members Menu on the Main Navigation</li>
</ol>

<h2>View More Details about a Member</h2>
<ol>
    <li>Access the Members Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the member details.</li>
</ol>


<h2>Find a members Session History</h2>
<ol>
    <li>Access the Members Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the member details.</li>
    <li>Click on the Session History button at the bottom of the screen.</li>
</ol>


<h2>Edit Member Details including changing Memeber Status and Member Type</h2>
<ol>
    <li>Access the Members Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the member details.</li>
    <li>Click on the Edit Memeber button at the bottom of the screen.</li>
    <li>Make required changes.</li>
    <li>Click Save.</li>
</ol>

<h2>Delete a Memeber</h2>
<ol>
    <li>Access the Members Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the member details.</li>
    <li>Click on the Delete button at the bottom of the screen.</li>
    <li>Click Delete to confirm the deletion.</li>
</ol>

<h2>How to Add a Member</h2>
<ol>
    <li>Access the Members Menu on the Main Navigation</li>
    <li>Click on the Add a Member button at the bottom of the page.</li>
    <li>Complete the new member details.</li>
    <li>Click Save</li>
</ol>



<h2>Viewing All Sessions</h2>
<ol>
    <li>Access the Sessions Menu</li>
</ol>

<h2>View More Details about a Session</h2>
<ol>
    <li>Access the Session Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the session details.</li>
</ol>

<h2>Find members Booked onto a Session</h2>
<ol>
    <li>Access the Session Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the session details.</li>
    <li>Click on the Bookings button at the bottom of the screen.</li>
</ol>

<h2>Cancel a Member off of a Session (from Session)</h2>
<ol>
    <li>Access the Sessions Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the session details.</li>
    <li>Click on the Bookings button at the bottom of the screen.</li>
    <li>Click on the Cancel Button on the left of the member detail.</li>
    <li>Click OK on the Confirmation Page to return to the sessions list.</li>
</ol>

<h2>Edit Session Details</h2>
<ol>
    <li>Access the Session Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the session details.</li>
    <li>Click on the Edit Session button at the bottom of the screen.</li>
    <li>Make required changes.</li>
    <li>Click Save.</li>
</ol>

<h2>Delete a Session</h2>
<ol>
    <li>Access the Session Menu on the Main Navigation</li>
    <li>Click See More Link on the left of the session details.</li>
    <li>Click on the Delete button at the bottom of the screen.</li>
    <li>Click Delete to confirm the deletion.</li>
</ol>

<h2>How to Add a Session</h2>
<ol>
    <li>Access the Session Menu on the Main Navigation</li>
    <li>Click on the Add a Session button at the bottom of the page.</li>
    <li>Complete the new session details.</li>
    <li>Click Save</li>
</ol>

<h2>How To Add a Booking</h2>
<ol>
    <li>Access the Members or the Session Menu on the Main Navigation</li>
    <li>Click on the Add a Booking button.</li>
    <li>Choose the relevant member and relevant gymsession from the dropdown lists.</li>
    <li>Click Save to confirm the booking.</li>
</ol>


{% endblock  %}